# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyCharm / VSCode / IDEs
.idea/
.vscode/
*.code-workspace

# VS Code debug
.vscode/

# macOS files
.DS_Store

# Logs
*.log

# dotenv
.env
.env.*

# SQLite DBs
*.sqlite3

# Local settings
local_settings.py

rgd_data
key.json
